/* leveldb: rgb(99, 154, 0); */

@font-face {
  font-family: 'Century Schoolbook Monospace';
  src: url("../lib/font/Century-Schoolbook-Monospace-BT.eot");
  src: url("../lib/font/Century-Schoolbook-Monospace-BT.eot?#iefix") format("embedded-opentype"), url("../lib/font/Century-Schoolbook-Monospace-BT.woff") format("woff"), url("../lib/font/Century-Schoolbook-Monospace-BT.ttf") format("truetype"), url("../lib/font/Century-Schoolbook-Monospace-BT.svg#CenturySchoolbookMonospaceBT") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background: rgb(224, 235, 204);
  background-image: url(../img/paper_fibers_trans.png);
  background-image: url(../img/paper_fibers_trans.png), -moz-radial-gradient(center, circle cover, white 0%, rgb(224, 235, 204) 100%);
  background-image: url(../img/paper_fibers_trans.png), -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, rgb(224, 235, 204)));
  background-image: url(../img/paper_fibers_trans.png), -webkit-radial-gradient(center, circle cover, white 0%, rgb(224, 235, 204) 100%);
  background-image: url(../img/paper_fibers_trans.png), -o-radial-gradient(center, circle cover, white 0%, rgb(224, 235, 204) 100%);
  background-image: url(../img/paper_fibers_trans.png), -ms-radial-gradient(center, circle cover, white 0%, rgb(224, 235, 204) 100%);
  background-image: url(../img/paper_fibers_trans.png), radial-gradient(center, circle cover, white 0%, rgb(224, 235, 204) 100%);
  background-color: rgb(224, 235, 204);
}

.reveal a:not(.image) {
  color: rgb(99, 154, 0);
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}

.reveal a:not(.image):hover {
  color: rgb(99, 154, 0);
  text-shadow: 2px 2px 5px rgba(99, 154, 0, 0.5);
  border: none;
}

.reveal pre, .reveal code {
  font-family: "Century Schoolbook Monospace", monospace;
}

.reveal {
  font-family: "Ubuntu", "Lato", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Ubuntu", "Lato", sans-serif;
  text-transform: none;
  color: rgb(50, 77, 0);
}

.reveal h1 {
  text-shadow: 0 0 10px rgba(50, 77, 0, 0.7), 5px 5px 11px rgba(50, 77, 0, 0.5);
  font-weight: 500;
}

.reveal h2 {
  text-shadow: 0 0 5px rgba(50, 77, 0, 0.7), 2px 2px 5px rgba(50, 77, 0, 0.5);
}

.reveal h3 {
  xtext-align: left;
}

.reveal p {
  text-align: left;
  margin-top: 1em;
}

.reveal ul {
}

.reveal li {
     margin-top: 0.4em;
  margin-bottom: 0.4em;
}